@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.main_container {
  width: 100%;
  
  margin: 0 auto;
  padding: 0 2rem;
  @media (max-width: 1199.98px) {
    max-width: 920px;
  }

  @media (max-width: 991.98px) {
    padding: 0 1rem;
    max-width: 820px;
  }
}
* {
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  @apply bg-white;
  box-sizing: border-box;
}

